body{
	background-color: #4E5F61;
}

table{
	width: 50%;
	text-align: center;
	margin: 0 auto;
	font-size: 22px;

}

.metodo{
	color: #8BAAAD;
}

caption{
	color: #57A5AD;
}

th{
	color: #C8F5FA;
	border: 1px solid #000000;
	
}

h1 {
	font-family: Arial,sans-serif;
	color: #FF214F;
	}
	
form{
	display: inline-block;
}