{% extends 'td/base.html' %}

{% block title %}
	<title>Time Display</title>
{% endblock title %}

{% block table %}
	<table>
		<caption>The current time and date:</caption>
		<tr>
			<th colspan="2" class="metodo"> Usando modulo Time</th><th colspan="2" class="metodo"> Usando modulo Datetime</th>
		</tr>
		<tr>
			<th>Hora local</th><th>Hora UTC</th><th>Hora local</th><th>Hora UTC</th>
		</tr>
		<tr>
			<td>{{time_local_date}}</td><td>{{time_gm_date}}</td><td>{{datetime_local_date}}</td><td>{{datetime_gm_date}}</td>
		</tr>
		<tr>
			<td>{{time_local_time}}</td><td>{{time_gm_time}}</td><td>{{datetime_local_time}}</td><td>{{datetime_gm_time}}</td>
		</tr>
	</table>
	<br>
	<table>
		<caption>The current time and date:</caption>
		<tr>
			<th class="metodo"> Usando javascript</th>
		</tr>
		<tr>
			<th>Hora local</th>
		</tr>
		<tr>
			<td id="Fecha"></td>
		</tr>
		<tr>
			<td id="HoraActual"></td>
		</tr>
	</table>

{% endblock table %}